.log-btn {
    font-weight: bolder;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    padding: 10px 15px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: white;
    margin-left: 0.5rem;
    background-color:#198754 ;
  }

  .user-submit{
    
    margin-bottom: 16rem;
  }
 