.driverReg-container {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    justify-content: center;
    background: white;
    align-items: center;
    align-content: center;
    padding-left: -5rem;
    border: 5px;

  }
  
  .driverReg-info {
    background: white;
    padding-left: 1rem;
    padding-top: -5rem;
    padding-bottom: -2rem;
    border: 5px;
  }
 
  .driver-in {
    color: #198754;
    padding-left: 2rem;
    font-size: 1.2rem;
  }
   
  .driver-h2 {
    color: #198754;
    font-weight: bolder;
    font-size: 2rem;
    /* padding-right: 4rem; */
  }
    
  .driver-input {
    width: 300px;
    height: 35px;
   margin-left: 2rem;
    border-radius: 15px;
    font-size: 1rem;
     letter-spacing: 3px;

  }

  .driver-btn {
    font-weight: bolder;
    text-decoration: none;
    font-size: 1.3rem;
    transition: all 0.3s ease 0s;
    padding: 5px 15px;
    border: none;
    border-radius: 50px;
    margin-bottom: 3rem;
    cursor: pointer;
    color: white;
    background-color: #198754;
    margin-left: 2rem;
    margin-top: 1rem;
    font-family: 'Montserrat', sans-serif;
  }