.footer-container {
    display: grid;
    background-color: black;
    grid-template-columns: repeat(4, 1fr);
    color: gray;
    bottom: 0;
    padding-left: 4rem;
    padding-top: 3rem;
    column-gap: -4rem;
    padding-bottom: 5rem;
  }
  
  .footer-p:hover {
    cursor: pointer;
    color: white;
  }
  
  .footer-h {
    color: white;
  }
  
  .footer-img {
    display: flex;
    justify-content: center;
    gap: 3rem;
    background-color: black;
  }
  
  .footer-im {
    height: 35px;
    background: black;
    width: 35px;
  }
  
